html, body{
  font-size: 36px;
  margin: 0;
  background: rgba(178, 223, 219, 0.13);
  width: 100%;
  height: 40rem;
  overflow-x: hidden;
  z-index: -1;
}

body > #Header{
  display: flex;
  background-color: #fefefe;
  position: fixed;
  width: 100%;
  height: 2.25rem;
  box-shadow: 0px 5px 9px rgba(0,0,0,0.15);
  font-family: "Tsukushi A Round Gothic Bold", 'Open Sans', sans-serif;
  z-index: 3;
}

body > #Header > #Title{
  display: flex;
  align-self: center;
  margin: 0; 
  padding-left: 2.4rem;
  width: 51.7%;
  font-size: 0.67rem;
  color: #1477b1;
}

body > #Header > .Options{
  display: flex;
  flex-direction: row;
  width: 48.3%;
}

body > #Header > .Options > .Op{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.87);
}

body > #Header > .Options > .Op:hover{
  background-color: #eeeeee;
}

body > #Header > .Options > .Sign_up{
  color: #2f96a5;
}

@keyframes emerge_l_b{
  0%{
    opacity: 0;
    transform: translateY(1.5rem);
  }
  40%{
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100%{
    opacity: 0.9532;
    transform: translateY(0);
  }
}

@keyframes late_emerge{
  0%{
    opacity: 0;
    transform: translateY(1.5rem);
  }
  40%{
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

body > #l_b_bubble{
  opacity: 0.9532;
  position: absolute;
  left: -4.61rem;
  top: 17.36rem;
  height: 10.28rem;
  width: 15.33rem;
  animation-name: l_b, emerge_l_b;
  animation-duration: 7s, 5s;
  animation-delay: 5s, 0s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate;
  z-index: 1;
}

@keyframes l_b{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(1.39rem);
  }
}

body > #m_t_bubble{
  position: absolute;
  left: 16.86rem;
  top: 2.8rem;
  height: 8.86rem;
  width: 13.22rem;
  animation-name: m_t, late_emerge;
  animation-duration: 8s, 5s;
  animation-delay: 5s, 0s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate;
  z-index: -1;
}

@keyframes m_t{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-1rem);
  }
}

body > #r_b_bubble{
  position: absolute;
  left: 26.89rem;
  top: 16.08rem;
  height: 18.22rem;
  width: 24.61rem;
  animation-name: r_b, late_emerge;
  animation-duration: 10s, 5s;
  animation-delay: 5s, 0s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate;
}

@keyframes r_b{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(2rem);
  }
}

body > #Overview{
  position: absolute;
  left: 1.83rem;
  top: 5.39rem;
  width: 19.08rem;
  height: 15.67rem;
  animation: overview_emerge 2s linear 0s normal;
}

@keyframes overview_emerge{
  0%{
    opacity: 0;
    transform: translateY(1rem);
  }
  20%{
    opacity: 0;
    transform: translateY(1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

body > #Content{
  position: absolute;
  left: 22.2rem;
  top: 13.22rem;
  width: 14.75rem;
  height: 5.72rem;
  animation: content_emerge 2s linear 0s normal;
}

@keyframes content_emerge{
  0%{
    opacity: 0;
    transform: translateX(-1rem);
  }
  20%{
    opacity: 0;
    transform: translateX(-1rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

body > #Content > .Title{
  margin: 0;
  font-family: "Tsukushi A Round Gothic Regular", 'Open Sans', sans-serif;
  font-size: 1rem;
}

body > #Content > .content{
  position: absolute;
  top: 1.47rem;
  left: 0;
  line-height: 0.833rem;
  font-family: "Hiragino Sans W2", 'Open Sans', sans-serif;
  font-size: 0.556rem;
}

body > #Content > .button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 3.61rem;
  height: 1.39rem;
  font-family: "Tsukushi A Round Gothic Regular", 'Open Sans', sans-serif;
  font-size: 0.5rem;
  transition: 0.8s;
  animation-name: late_emerge 5s linear 0s normal;
}

body > #Content > .Try_now{
  color: rgba(255, 255, 255, 0.87);
  background-color: #1477b1;
  left: 0;
}


body > #Content > .Learn_more{
  color: #1477b1;
  left: 3.61rem;
  width: 4.2rem;
}

body > #Content > .Try_now:hover{
  transform: translate(-3px, -4px);
  box-shadow:  5px 5px 7px rgba(0,0,0,0.4);
}

body > #Content > .Learn_more:hover{
  transform: translate(-3px, -4px);
  text-shadow: 5px 5px 7px rgba(0,0,0,0.5);
}
