body{
  background: rgba(178, 223, 219, 0.13);
  width: 1440px;
  height: 900px;
  overflow-x: hidden;
  z-index: -1;
}


#Bar{
  background-color: #fefefe;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 81px;
  box-shadow: 0px 5px 9px rgba(0,0,0,0.15);
  z-index: 3;
}

#Core-relation{
  position: absolute;
  top: 31px;
  left: 86px;
  font-family: "Tsukushi A Round Gothic Bold", "Source Sans Pro Regular"; 
  width: 162px;
  line-height: 24px; 
  font-size: 24px;
  color: #1477b1;
  text-align: center;
  letter-spacing: 0.74px;
}

#sign-up{
  position: absolute;
  top: 34px;
  right: 60px;
  font-family: "Tsukushi A Round Gothic Bold", "Microsoft JhengHei"; 
  width: 70px;
  line-height: 18px;
  font-size: 18px;
  color: #2f96a5;
  text-align: center;
  <!-letter-spacing: 0.55px;-->
}

#sign-up::hover{
  color: #FFFFFF;
}

#middle-top-bubble{
  position: absolute;
  top: 101px;
  left: 607px;
  opacity: 0.8734;
  z-index: 0;  
  animation-name: m_t;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#left-bottom-bubble{
  position: absolute;
  top: 544px;
  left: -166px;
  opacity: 0.9532;
  z-index:2;
  animation-name: l_b;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  border: 1px solid green;
}

#right-bottom-bubble{
  position: absolute;
  top: 579px;
  left: 968px;
  opacity: 0.9532;  
  animation-name: r_b;
  animation-duration: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#overview{
  position: absolute;
  top: 113px;
  left: 66px;
  z-index: 1;
  border: 1px solid green;
}

#Core-relation-IoT-pl{
  position: absolute;
  top: 476px;
  left: 800px;
  font-family: "Tsukushi A Round Gothic Bold", "Microsoft JhengHei"; 
  width: 463px;
  line-height: 36px; 
  font-size: 36px;
  color: rgba(0,0,0,0.87);
  text-align: left;
  letter-spacing: 1.11px;
}

@keyframes l_b{
  0%{
    position: relative;
    top: 0px;
  }
  25%{
    position: relative;
    top: 25px;
  }
  50%{
    position: relative;
    top: 0px;
  }
  75%{
    position: relative;
    top: -25px;
  }
  100%{
    position: relative;
    top: 0px;
  }
}

@keyframes r_b{
  0%{
    position: relative;
    top: 0px;
  }
  100%{
    position: relative;
    top: 60px;
  }
}

@keyframes m_t{
  0%{
    position: relative;
    top: 0px;
  }
  100%{
    position: relative;
    top: 40px;
  }
}
